@page
@model Lab5.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Список клієнтів";
}

<h1>Список замовлень</h1>

<p>
    <a asp-page="Create">Створити</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Pizza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Discount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pizza.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
